.ListModel {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0,0,0,.6);
    transform: scale(0);
    opacity: 0;
}


.active {
    transform: scale(1);
    opacity: 1;
    transition: all .3s linear;
}

.ListModel__content {
    display: flex;
    position: fixed;
    width: 800px;
    height: 400px;
    background-color: #f8f8f8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.ListModel__content--left {
    width: 350px;
    overflow-y: auto;
}