.ListModel {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0,0,0,.6);
    transform: scale(0);
    opacity: 0;
    transition: all .3s linear;
}

.active {
    transform: scale(1);
    opacity: 1;
    transition: all .3s linear;
}

.ListModel__content {
    display: flex;
    position: fixed;
    width: 800px;
    height: 550px;
    background-color: #f8f8f8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 4px rgba(0,0,0,.24);
}

.ListModel__content--left {
    width: 350px;
    overflow: scroll;
}

.ListModel__content--right {
    width: 450px;
    height: 400px;
    padding: 10px;
}

.ListModel__empty {
    width: 300px;
    margin: 30% auto;
    text-align: center;
}

.ListModel__empty img {
    width: 150px;
    margin-bottom: 10px;
}

.ListModel__empty--author {
    font-size: 8px;
    margin-top: 180px;
    color: #999;
}

/*******************************************/
/*BUTTON*/
.ListModel__btn {
    position: fixed;
    padding-bottom: 20px;
    top: -25px;
    left: 788px;
    font-weight: 700;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

.ListModel__btn:hover {
    color: #333;
}

.ListModel__btn:focus {
    outline: none;
}

.deleteAllBtn {
    display: block;
    margin-left: auto;
    margin-right: 5px;
    font-size: 12px;
    font-weight: 500;
    color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0,0,0,.12);
}