.Font {
    width: 200px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.1);
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0, .08);
}

.Font__header {
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin-bottom: 5px;
}

.Font__header p {
    margin-bottom: 0;
}

.Font__label {
    margin: 0 0 5px 0;
}

.Font__label select {
    font-size: 12px;
    margin-left: 3px;
}

.Font__label input[type="color"] {
    margin-left: 3px;
}