.ListItem {
    position: relative;
    display: flex;
    height: 100px;
    border-bottom: 1px solid rgba(0,0,0,.08);
    border-left: none;
    cursor: pointer;
}

.ListItem__active {
    border-left: 5px solid #007bff;
    transition: all .2s linear;
}

.ListItem__left {
    width: 25%;
    background-color: #f8f8f8;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.ListItem__right {
    width: 75%;
    height: 100.5%;
    position: relative;
}

/**********************************************/
/*DATE*/

.ListItem__date {
    display: flex;
    flex-direction: row;
    height: 50px;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
    transform: translateX(-2px);
}

.ListItem__date--month {
    font-family: "Ariel", sans-serif;
    transform: rotate(-90deg);
    border-bottom: 1px solid #999;
    padding: 0;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.ListItem__date--day {
    font-family: "Ariel", sans-serif;
    font-weight: 700;
    font-size: 40px;
    transform: translateX(-3px);
}

.ListItem__date--year {
    font-family: "Ariel", sans-serif;
    font-size: 18px;
    color: #999;
    font-weight: 600;
    letter-spacing: 8px;
    transform: translate(4px, -3px);
}

/**********************************************/
/*COLOR INFO*/

.ListItem__colorInfo {
    background-color: rgba(255,255,255,.6);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    color: #333;
    padding: 0 5px;
    box-shadow: 0 0 2px rgba(0,0,0,.14);
    transition: all .2s linear;
}

.ListItem:hover .ListItem__colorInfo {
    opacity: 1;
}

/**********************************************/
/*BUTTON*/
.ListItem__deleteBtn {
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 3px;
    font-size: 10px;
    opacity: 0;
    transition: all .2s linear;
}

.ListItem:hover .ListItem__deleteBtn {
    opacity: 1;
}